<header>
  <mat-toolbar color="primary" class="navbar">
    <button class="mat-typography" color="primary" mat-flat-button routerLink="/">
      <h1>Guettinger.dev</h1>
    </button>
    <div>
    <span class="navbar-content">
      <button mat-flat-button color="primary" routerLink="/"> Home    </button>
    </span>
      <span class="navbar-content">
      <button mat-flat-button color="primary" routerLink="/home/about"> Über mich    </button>
    </span>
      <span class="navbar-content">
      <button mat-flat-button color="primary" routerLink="/home/projects"> Projekte     </button>
    </span>
      <span class="navbar-content">
      <button mat-flat-button color="primary" routerLink="/home/links"> Externe Links</button>
    </span>
    </div>
  </mat-toolbar>

</header>
