<div class="center">
  <div class="mat-display-4 page-title tracking-in-expand-fwd">Luca Güttinger</div>
</div>
<mat-card class="center-90 inline-block-center">
  <mat-card-content class="text-focus-in">
    ipsum dolor sit amet, consectetur adipisicing elit. Animi aut autem ea earum enim error, esse est et ex excepturi
    facilis fugiat fugit harum illum in libero minus natus omnis perspiciatis quas quibusdam, quod repudiandae tempora
    ullam veniam voluptates voluptatibus voluptatum! Amet at commodi dignissimos dolore dolorem error, ex, hic ipsa,
    itaque nemo nisi perferendis placeat porro quaerat unde veritatis voluptates? Ab atque consequatur delectus dicta
    dolor,
    doloribus, ea esse explicabo facilis fuga id minus natus nostrum numquam obcaecati, optio rem repellendus similique!
    A beatae cupiditate delectus deleniti dolor eos, excepturi inventore natus nisi vero. Quam, qui, veniam? Explicabo,
    nulla.
  </mat-card-content>
</mat-card>

<div class="inline-block-center">
  <button routerLink="/home/about" class="title-page-button tracking-in-contract-bck-bottom" color="primary" mat-raised-button>über mich</button>
  <button routerLink="/home/projects" class="title-page-button tracking-in-contract-bck-bottom" color="primary" mat-raised-button>Projekte</button>
  <button routerLink="/home/links" class="title-page-button tracking-in-contract-bck-bottom" color="primary" mat-raised-button>Externe Links</button>
</div>
