<div class="center">
  <div class="mat-display-4 page-title-content tracking-in-expand-fwd">Links</div>
</div>
<mat-card class="center inline-block-center scale-in-ver-center">
  <div class="inline-block-center">
    <a href="https://github.com/Luca-Guettinger"><button class="title-page-button " color="primary" mat-fab>Github</button></a>
    <a href="https://gitlab.com/Luca-Guettinger"><button class="title-page-button " color="primary" mat-fab>GitLab</button></a>
    <a href="https://linkedin.com/in/Luca-Guettinger"><button class="title-page-button " color="primary" mat-fab>LinkedIn</button></a>
    <br>
    <br>
    <a href="https://myplayplanet.net/"><button class="title-page-button " color="primary" mat-fab>MyPlayPlanet</button></a>
    <a href="https://www.trindu.ch/"><button class="title-page-button " color="primary" mat-fab>Trindu</button></a>
    <a href="https://cmiag.ch/"><button class="title-page-button " color="primary" mat-fab>CM Informatik AG</button></a>
    <a href="https://tbz.ch/"><button class="title-page-button " color="primary" mat-fab>TBZ</button></a>
  </div>
</mat-card>


