<div class="center">
  <div class="mat-display-4 page-title-content tracking-in-expand-fwd">Projekte</div>
</div>
<mat-card class="center-90 inline-block-center scale-in-ver-center">
  <mat-card-header>
    <h1>MyPlayPlanet</h1>
  </mat-card-header>
  <mat-card-content class="text-focus-in flex-center">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem eum ipsum nisi quae quod ratione sapiente
      vero? Atque, culpa deleniti dignissimos dolore dolorum ea, eum facere fuga illum nobis officia quam quisquam,
      repudiandae sed voluptates. Ab aliquid autem explicabo labore laborum necessitatibus nulla quos, similique totam
      veritatis! Ea eius eos nihil numquam velit voluptas voluptatem? Accusantium blanditiis delectus deserunt iste
      natus numquam reprehenderit veniam voluptatibus? Aliquid at atque, harum inventore ipsum iusto labore laudantium
      libero maxime minus molestias mollitia, numquam perspiciatis porro suscipit tempore veritatis? Alias architecto,
      debitis distinctio, dolor illo iure magni nisi non obcaecati possimus quisquam ratione repudiandae vitae!
      Assumenda culpa harum hic laboriosam repellendus. Aperiam corporis dicta ipsam laboriosam natus nesciunt officia
      officiis soluta vitae voluptates.
    </p>
    <img src="./assets/pp.jfif" alt="MyPlayPlanet.net Logo">
  </mat-card-content>
</mat-card>
<div class="divider-small"></div>
<mat-card class="center-90 inline-block-center scale-in-ver-center">
  <mat-card-header>
    <h1>Trindu</h1>
  </mat-card-header>
  <mat-card-content class="text-focus-in flex-center">
    <img
      src="https://www.trindu.ch/temp/compressed_images_trindu.png"
      alt="Trindu.ch Logo">

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid atque consequatur debitis doloribus, eum fuga
      fugiat illo incidunt inventore, itaque libero minus modi mollitia neque nihil perferendis placeat possimus
      praesentium quae quis rem sint sit sunt totam voluptas voluptatem voluptates. Ad, aliquid assumenda culpa cum
      deleniti dicta distinctio ea facere fuga fugit illo itaque iure numquam, obcaecati omnis perferendis placeat
      quisquam quod repellendus saepe sed sunt ullam veritatis. Ad, at atque, corporis doloribus ea iusto, maiores
      maxime nostrum quis sit soluta suscipit tempora? Accusantium amet aspernatur deserunt est fuga ipsa ipsam iure
      maxime necessitatibus quos reiciendis, tempora voluptates, voluptatibus.
    </p>
  </mat-card-content>
</mat-card>
