<div>
  <div class="mat-display-2">
    Quellen
  </div>
  <mat-card>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <div mat-line>Impressum</div>
          <div mat-line><a href="https://www.swissanwalt.ch">https://www.swissanwalt.ch/</a></div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div mat-line>Hintergrund Bild</div>
          <div mat-line><a href="https://www.pexels.com/photo/green-pine-trees-covered-with-fogs-under-white-sky-during-daytime-167699/">https://www.pexels.com/</a></div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div mat-line>CSS Animationen</div>
          <div mat-line><a href="https://animista.net/">https://animista.net/</a></div>
        </mat-list-item>

        <mat-list-item role="listitem">
          <div mat-line>Bilder Über mich Page</div>
          <div mat-line><a href="https://tbz.ch/">https://tbz.ch/</a></div>
          <div mat-line><a href="https://cmiag.ch/">https://cmiag.ch/</a></div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div mat-line>Bilder Projekte Page</div>
          <div mat-line><a href="https://www.trindu.ch/">https://www.trindu.ch/</a></div>
          <div mat-line><a href="https://myplayplanet.net/">https://myplayplanet.net/</a></div>
        </mat-list-item>

      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

